.box1{
    display: inline;
    border: 2px solid black;
    background-color: brown;
    outline: 5px dashed;
    margin: 20px;
    padding: 10px;
    box-shadow: 10px 5px 5px red;
}
.box2{
    display: block;
    border: 2px solid black;
    background-color: darkgoldenrod;
    margin: 20px;
    padding: 10px;
    outline: groove 10px;
    box-shadow: 15px 7px 7px yellow;
}

.box3{
    display: inline-block;
    border: 2px solid black;
    background-color: darkolivegreen;
    margin: 20px;
    padding: 10px;
    outline: dotted 5px;
    box-shadow: 20px 10px 10px olive;
}

.btn{
    display: block;
    color:black;
    background-color: darkslategray;
    box-shadow: 5px 5px 5px black;
    outline: 4px dashed;
    margin: 20px;
    padding: 10px;
}