*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    border: 2px solid white;
    margin: 15px;
    padding: 10px;
    width: 300px;
    height: 70vh;
    border-radius: 8px;
}

.image{
    padding: 5px auto;
}

.image img{
    border-radius: 5px;
    width: 300px;
    height: 200;
}

.capsule{
text-align: center;
margin-top: 5px;
}

.capsule span{
    background-color: lightgray;
    border-radius: 10px;
    border: 2px solid rgb(114, 113, 113);
    padding: 1px 6px;
    font-size: 12px
}



.content{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    line-height: 1.6;
}
.content h2{
text-align: center;
}

.btn{
     color: bisque;
     background-color: rgb(173, 210, 233);
     border: none;
     margin: auto;
     padding: 8px 15px;
     cursor: pointer;
     color: #2563eb;
     border-radius: 20px;
     display: block;
}

.btn:hover{
    background-color: rgb(30, 30, 149);
}
