@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    background-color: black;
}
.bg{
    background-image: url(Assets/images/background-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: max(2000px, 100vw); */
    background-size: cover;
    height: 95vh;
    max-width: 100%;
    /* border-radius: 4px; */
    position: relative;
}
.box{
    background-color: black;
    height: 95vh;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.70;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    width: 70%;
    height: 50px;
    position: relative;
    z-index: 10;
}
.navbar div .logo{
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn .eng{
    position: relative;
    z-index: 10;
    height: 40px;
    padding: 4px 20px 4px 20px;
    text-align:right;
    font-size: larger;
    font-weight: 600;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}
.btn .sign{
    padding: 4px 10px 4px 10px;
    background-color:crimson;
    font-size: large;
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 10;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn .sign:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    z-index: 10;
    color: white;
    gap: 20px;
    text-align: center;
    padding: 30px;
}
.content .big{
    font-size: 50px;
    font-weight: bolder;
}
.content .price{
    font-size: 25px;
    font-weight: 500;
}

.content .mail input{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: large;
    height: 50px;
    width: 300px;
    border: 1px solid beige;
    border-radius: 4px;
    padding-left: 5px;
}
.content .mail .start{
    padding: 11px 50px 11px 50px;
    background-color:red;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content .mail .start:hover{
    background-color: rgb(187, 1, 1);
}
.curve{
    height: 6px;
    width: 100%;
    background: linear-gradient(
        to right,
        #ff007f,
        #ff4d4d,
        #8b5cf6
    );
    border-radius: 50%;
}
.trending{
    padding: 0 148px;
    margin: 32px;
}
.trending h2{
    color: white;
    font-weight: 600;
}
.movies{
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.movies::-webkit-scrollbar{
    display: none;
}
.moviecard{
    position: relative;
    transition: all 0.3s ease;
}
.moviecard:hover{
    transform: scale(1.05);
}
.moviecard img{
    border-radius: 10px;
    width: 180px;
}
.moviecard span{
    position: absolute;
    z-index: 5;
    font-size: 100px;
    bottom: -10px;
    font-weight: 700;
    color: black;
    -webkit-text-stroke: 2px white;
}
.info{
    padding: 0 148px;
    margin: 32px;
}
.info h2{
    color: white;
    font-weight: 600;
}
.square{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}
.squarecard{
    background: linear-gradient(
        145deg,
        #1d1933,
        #1f1631,
        #261733,
        #2b1c45
    );
    color: white;
    padding: 25px;
    border-radius: 18px;
    width: 220px;
    height: 260px;
}
.squarecard p{
    margin-top: 10px;
}
.end{
    padding: 0 148px;
    margin: 32px;
}
.end h2{
    color: white;
    font-weight: 600;
}
.questions button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color:rgb(46, 41, 41);
    height: 70px;
    width: 100%;
    margin-bottom: 4px;
    padding: 0 10px 0 10px;
    font-size: larger;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}
.questions button:hover{
   background-color: rgba(255, 255, 255, 0.1);
}
.ads{
    padding: 0 148px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ads h4{
    color: white;
}
.mails{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 4px;
}
.mails input{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: large;
    height: 50px;
    width: 300px;
    border: 1px solid beige;
    border-radius: 4px;
    padding-left: 5px;
}
.mails .started{
    padding: 11px 40px 11px 40px;
    background-color:red;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.started:hover{
    background-color: rgb(187, 1, 1);
}
.note{
    color: rgba(255, 255, 255, 0.566);
    padding: 0 180px;
    margin-top: 32px;
}
.note p a{
    color: rgba(255, 255, 255, 0.566) ;
}
.foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.566);
    max-width: 75vw;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 80px;
}
.foot-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.foot-item a{
    color: rgba(255, 255, 255, 0.566);
}
.foot-item a:active{
    color: red;
}
@media screen and (max-width: 768px) {
    .navbar{
        width: 90%;
    }
    .navbar div .logo{
        width: 100px;
    }
    .btn .eng{
        font-size: 12px;
        padding: 3px 8px;
    }
    .btn .sign{
        font-size: 12px;
    }
    .content .big{
        font-size: 30px;
    }
    .content .price{
        font-size: 16px;
    }
    .content .small{
        font-size: 12px;
    }
    .mail{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }
    .content .mail input{
        width: 90%;
    }
    .trending{
        padding: 0 20px;
        margin: 20px 0;
    }
    .movies{
        gap: 20px;
    }
    .moviecard img{
        width: 120px;
    }
    .moviecard span{
        font-size: 60px;
    }
    .info{
        padding: 0 0;
    }
    .square{
        flex-direction: column;
    }
    .squarecard{
        width: auto;
        height: auto;
    }
    .end{
        padding: 0 0;
    }
    .questions button{
        font-size: 14px;
        height: auto;
        padding: 20px 10px;
    }
    .ads{
        padding: 0;
    }
    .ads h4{
        font-size: 14px;
        font-weight: 500;
    }
    .mails{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        justify-content: left;
        align-items: flex-start;
    }
    .mails .started{
        font-weight: 500;
    }
    .foot{
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 90vw;
    }
    .note{
        padding: 0 20px;
    }
}
